# Video Game Sales

In [1]:
# Global installs for required packages
import pandas as pd
import numpy as np
from datetime import date

In [2]:
df = pd.read_csv('./vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## I. Which company is the most common video game publisher?

In [3]:
df_pub = pd.DataFrame(df['Publisher'].groupby(df.Publisher).count()).sort_values('Publisher', ascending=False)
df_pub.head()

                              Publisher
Publisher
Electronic Arts                    1351
Activision                          975
Namco Bandai Games                  932
Ubisoft                             921
Konami Digital Entertainment        832

## II. What's the most common platform?

In [4]:
df_plat = pd.DataFrame(df['Platform'].groupby(df.Platform).count()).sort_values('Platform', ascending=False)
df_plat.head()

          Platform
Platform
DS            2163
PS2           2161
PS3           1329
Wii           1325
X360          1265

## III. What about the most common genre?

In [5]:
df_genre = pd.DataFrame(df['Genre'].groupby(df.Genre).count()).sort_values('Genre', ascending=False)
df_genre.head()

              Genre
Genre
Action         3316
Sports         2346
Misc           1739
Role-Playing   1488
Shooter        1310

## IV. What are the top 20 highest grossing games?

In [6]:
df_top20 = pd.DataFrame(df[['Name', 'Global_Sales']].head(20)).sort_values('Global_Sales', ascending=False)
df_top20

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## IV. For North American video game sales, what’s the median?

In [7]:
na_med = np.median(df['NA_Sales'])
na_med

0.08

Provide a secondary output showing 'about' ten games surrounding the median sales output

In [8]:
df_med = pd.DataFrame(df[df.NA_Sales.values == na_med].head(10))
df_med

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54

## VI. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:
df_mean = np.mean(df['NA_Sales'])
df_std = pd.DataFrame(df[df.NA_Sales.values >= df_mean])
df_std.NA_Sales.std()

1.5190362471782832

## VII. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [10]:
df_wii = df[['Platform', 'Global_Sales']].groupby('Platform')
df_wii = pd.DataFrame(df_wii['Global_Sales'].mean()).sort_values('Global_Sales', ascending=False)
df_wii

          Global_Sales
Platform
GB            2.606633
NES           2.561939
GEN           1.050370
SNES          0.837029
PS4           0.827679
X360          0.774672
2600          0.729925
PS3           0.720722
Wii           0.699404
N64           0.686144
XOne          0.662254
PS            0.610920
PS2           0.581046
WiiU          0.572448
3DS           0.486169
GBA           0.387470
DS            0.380254
GC            0.358561
XB            0.313422
SCD           0.311667
DC            0.307115
PC            0.269604
PSP           0.244254
WS            0.236667
SAT           0.194162
PSV           0.149952
NG            0.120000
TG16          0.080000
GG            0.040000
3DO           0.033333
PCFX          0.030000

## How much did each platform sell over its lifespan?

In [11]:
df_low = pd.DataFrame(df['Global_Sales'].groupby(df.Platform).sum()).sort_values('Global_Sales', ascending=False)
df_low

          Global_Sales
Platform
PS2            1255.64
X360            979.96
PS3             957.84
Wii             926.71
DS              822.49
PS              730.66
GBA             318.50
PSP             296.28
PS4             278.10
PC              258.82
XB              258.26
GB              255.45
NES             251.07
3DS             247.46
N64             218.88
SNES            200.05
GC              199.36
XOne            141.06
2600             97.08
WiiU             81.86
PSV              61.93
SAT              33.59
GEN              28.36
DC               15.97
SCD               1.87
NG                1.44
WS                1.42
TG16              0.16
3DO               0.10
GG                0.04
PCFX              0.03

## How many games were sold each year?

In [12]:
df_year = pd.DataFrame(df[['Year', 'Global_Sales']].groupby(df.Year)['Global_Sales'].sum())
df_year

        Global_Sales
Year
1980.0         11.38
1981.0         35.77
1982.0         28.86
1983.0         16.79
1984.0         50.36
1985.0         53.94
1986.0         37.07
1987.0         21.74
1988.0         47.22
1989.0         73.45
1990.0         49.39
1991.0         32.23
1992.0         76.16
1993.0         45.98
1994.0         79.17
1995.0         88.11
1996.0        199.15
1997.0        200.98
1998.0        256.47
1999.0        251.27
2000.0        201.56
2001.0        331.47
2002.0        395.52
2003.0        357.85
2004.0        419.31
2005.0        459.94
2006.0        521.04
2007.0        611.13
2008.0        678.90
2009.0        667.30
2010.0        600.45
2011.0        515.99
2012.0        363.54
2013.0        368.11
2014.0        337.05
2015.0        264.44
2016.0         70.93
2017.0          0.05
2020.0          0.29

## How many games for each platform were released in 2006?

In [13]:
df_2006 = df[df.Year.values == 2006.0]
df_2006 = pd.DataFrame(df_2006['Publisher'].groupby(df_2006.Publisher).count()).sort_values('Publisher', ascending=False)
df_2006

                                 Publisher
Publisher
Electronic Arts                        102
Namco Bandai Games                      66
Konami Digital Entertainment            66
Ubisoft                                 61
THQ                                     57
Nintendo                                53
Sony Computer Entertainment             51
Activision                              50
Sega                                    47
Take-Two Interactive                    33
Eidos Interactive                       29
Capcom                                  27
Tecmo Koei                              26
Midway Games                            25
Atari                                   23
505 Games                               22
Vivendi Games                           19
Disney Interactive Studios              13
D3Publisher                             13
Square Enix                             12
Rising Star Games                        9
Ignition Entertainment                   9
Microsoft Game Studios                   9
LucasArts                                9
Codemasters                              8
Game Factory                             7
Banpresto                                7
Majesco Entertainment                    6
Zoo Digital Publishing                   6
Crave Entertainment                      5
...                                    ...
Zenrin                                   1
Sony Online Entertainment                1
Shogakukan                               1
Kando Games                              1
Hamster Corporation                      1
Mad Catz                                 1
Kadokawa Shoten                          1
JoWood Productions                       1
Mastertronic                             1
Media Works                              1
Michaelsoft                              1
Irem Software Engineering                1
Midas Interactive Entertainment          1
Mumbo Jumbo                              1
Hudson Entertainment                     1
Hasbro Interactive                       1
Groove Games                             1
From Software                            1
Global A Entertainment                   1
O3 Entertainment                         1
Ongakukan                                1
Ghostlight                               1
PopCap Games                             1
Princess Soft                            1
RedOctane                                1
GN Software                              1
Funsta                                   1
SNK Playmore                             1
Sammy Corporation                        1
10TACLE Studios                          1

[112 rows x 1 columns]